{% include 'partials/header.html' %}
<a href="new_question">
	<button>Add new Question</button>
</a><br>

<div class="container">
	{% if questions %}
		{% for question in questions %}
			<div class="row">
				<div class="col-sm">
					<b>Question Name: </b> {{question.QName}}<br>
					<i>Question Code: </i> {{questionn.QCode}}<br>
					<br>
				</div>
				<div class="col-sm">
					Credits:  {{question.Scredit}}<br>
					{{question.id}}
				</div>

				<div class="col-sm">
					<a href="{% url 'miniproject:question' subject_id question.id %}">Check</a>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>

{% include 'partials/footer.html' %}